<section class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <form #registerForm="ngForm" (ngSubmit)="register()">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="username" name="username" class="form-control"
                                            [(ngModel)]="registerUser.username" #username="ngModel" required
                                            minlength="4" maxlength="32" appForbiddenName="bob">
                                        <label class="form-label" for="username">Username</label>
                                    </div>

                                    <div *ngIf="username.invalid && (username.dirty || username.touched)"  class="text-danger">
                                        <div *ngIf="username.errors?.['required']">
                                            UserName is required.
                                        </div>
                                        <div *ngIf="username.errors?.['minlength']">
                                            UserName must be at least 4 characters long.
                                        </div>
                                        <div *ngIf="username.errors?.['maxlength']">
                                            UserName must be at max 32 characters long.
                                        </div>
                                        <div *ngIf="username.errors?.['forbiddenName']">
                                            UserName cannot be Bob.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <div class="form-outline">
                                            <input type="password" id="password" name="password" class="form-control"
                                                [(ngModel)]="registerUser.password" #password="ngModel" required
                                                minlength="4" maxlength="32" />
                                            <label class="form-label" for="password">Password</label>
                                        </div>
                                    </div>

                                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                        <div *ngIf="password.errors?.['required']">
                                            Password is required.
                                        </div>
                                        <div *ngIf="password.errors?.['minlength']">
                                            Password must be at least 4 characters long.
                                        </div>
                                        <div *ngIf="password.errors?.['maxlength']">
                                            Password must be at max 32 characters long.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="knownAs" name="knownAs" class="form-control"
                                            [(ngModel)]="registerUser.knowAs" />
                                        <label class="form-label" for="knowAs">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <div class="form-outline">
                                            <input type="email" id="email" name="email" class="form-control"
                                                [(ngModel)]="registerUser.email" />
                                            <label class="form-label" for="email">Email</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth"
                                            [(ngModel)]="registerUser.dateOfBirth" />
                                        <label for="dateOfBirth" class="form-label">Birthday</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <select class="select form-control" name="gender" [(ngModel)]="registerUser.gender">
                                        <option value="" disabled>---Choose gender---</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                    <label class="form-label select-label">Gender</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="city" name="city" class="form-control"
                                            [(ngModel)]="registerUser.city" />
                                        <label class="form-label" for="city">City</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <div class="form-outline">
                                            <input type="text" id="avatar" name="avatar" class="form-control"
                                                [(ngModel)]="registerUser.avatar" />
                                            <label class="form-label" for="avatar">Avatar</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-outline">
                                        <textarea class="form-control" id="introduction" name="introduction"
                                            [(ngModel)]="registerUser.introduction"></textarea>
                                        <label for="introduction" class="form-label">Introduction
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary" type="submit" [disabled]="registerForm.invalid"
                                    value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>