<section class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <form>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="username" name="username" class="form-control"
                                            [(ngModel)]="registerUser.username" />
                                        <label class="form-label" for="username">Username</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <div class="form-outline">
                                            <input type="password" id="password" name="password" class="form-control"
                                                [(ngModel)]="registerUser.password" />
                                            <label class="form-label" for="password">Password</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="knownAs" name="knownAs" class="form-control"
                                            [(ngModel)]="registerUser.knowAs" />
                                        <label class="form-label" for="knowAs">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <div class="form-outline">
                                            <input type="email" id="email" name="email" class="form-control"
                                                [(ngModel)]="registerUser.email" />
                                            <label class="form-label" for="email">Email</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth"
                                            [(ngModel)]="registerUser.dateOfBirth" />
                                        <label for="dateOfBirth" class="form-label">Birthday</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <select class="select form-control" name="gender" [(ngModel)]="registerUser.gender">
                                        <option value="" disabled>Choose option</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                    <label class="form-label select-label">Gender</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="city" name="city" class="form-control"
                                            [(ngModel)]="registerUser.city" />
                                        <label class="form-label" for="city">City</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <div class="form-outline">
                                            <input type="text" id="avatar" name="avatar" class="form-control"
                                                [(ngModel)]="registerUser.avatar" />
                                            <label class="form-label" for="avatar">Avatar</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-outline">
                                        <textarea class="form-control" id="introduction" name="introduction"
                                            [(ngModel)]="registerUser.introduction"></textarea>
                                        <label for="introduction" class="form-label">Introduction
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary" type="button" (click)="register()" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <section class="section-content padding-y">
    <div class="card mx-auto" style="max-width:600px">
        <article class="card-body">
            <header class="mb-4">
                <h4 class="card-title">Register</h4>
            </header>
            <form method="post">
                <div class="form-row">
                    <div class="col form-group">
                        <label>Your name</label>
                        <input class="form-control" type="text" name="knowAs" [(ngModel)]="registerUser.knowAs">
                    </div>

                    <div class="col form-group">
                        <label>Username</label>
                        <input class="form-control" type="text" name="username" [(ngModel)]="registerUser.username">
                    </div>
                </div>

                <div class="form-group">
                    <label>password</label>
                    <input class="form-control" type="password" name="password" [(ngModel)]="registerUser.password">
                </div>

                <div class="form-group">
                    <label>date of birth</label>
                    <input class="form-control" type="text" name="birthday" [(ngModel)]="registerUser.dateOfBirth">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" name="email" [(ngModel)]="registerUser.email">
                </div>

                <div class="form-group">
                    <label>gender</label>
                    <select class="form-control" [(ngModel)]="registerUser.gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>introduction</label>
                    <input class="form-control" type="text" name="introduction" [(ngModel)]="registerUser.introduction">
                </div>
                <div class="form-group">
                    <label>city</label>
                    <input class="form-control" type="text" name="city" [(ngModel)]="registerUser.city">
                </div>
                <div class="form-group">
                    <label>avatar</label>
                    <input class="form-control" type="text" name="avatar" [(ngModel)]="registerUser.avatar">
                </div>

                <div class="form-group">
                    <button type="button" (click)="register()" class="btn btn-primary btn-block"> Register </button>
                </div>
            </form>
        </article>
    </div>
    <p class="text-center mt-4">
        You have already a account ? <a href="/user/login">Login now </a>
    </p>
    <br><br>
</section> -->